<div class="header__main" id="stickyHeader" [class.sticky]="sticky" #stickHeader>
  <div class="header_left">
    <a routerLink="/">
      <img src="assets/logoNetflix.svg" alt="logo de Netflix">
    </a>
    <ul>
      <li class="active"><a href="#">Inicio</a></li>
      <li><a href="#">Series</a></li>
      <li><a href="#">Películas</a></li>
      <li><a href="#">Novedades Populares</a></li>
      <li><a href="#">Mi lista</a></li>
    </ul>
  </div>
  <div class="header_right">
    <ul>
      <li>
        <a href="#">
          <mat-icon>search</mat-icon>
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>notifications</mat-icon>
        </a>
      </li>
      <li>
        <img src="assets/perfil.webp" alt="perfil de usuario" class="perfil">
      </li>
    </ul>
  </div>
</div>    <!--FIN ÁREA PRINCIPAL -->
