<div class="container">
  <div class="whoIsWatching">
    <div class="logo-section">
      <a href="#"><img src="assets/logoNetflix.svg" alt="logo"></a>
    </div>

    <div class="main-div">
      <p>¿Quién está viendo ahora?</p>
      <div class="memberDiv">
        <button class="btn"><a [routerLink]="['/home']"><span>Ismael</span></a></button>
        <button class="btn"><a [routerLink]="['/home']"><span>Prieto</span></a></button>
        <button class="btn"><a [routerLink]="['/home']"><span>Abdala</span></a></button>
        <button class="btn"><a [routerLink]="['/home']"><span>Goku</span></a></button>
        <button class="addIcon"><i class="fas fa-plus-circle"></i> <span>Add Profile</span></button>
      </div>
      <button class="manageProfile">Administrar Perfiles</button>
    </div>
  </div>
</div>

